.jumbotron {
    padding-top: 6rem ;
    background-color: rgb(162, 227, 253);
    text-align: center;
    justify-content: center;
}

#home {
    font-family: 'ubuntu';
}

#projects {
    background-color: #a2d9ff;
}

section {
    padding-top: 5rem;
}

.gallery-img {
    width: 100% ;
}

#gallery .row > * {
    padding: 0;
}



/* My Skill */

#skill {
    min-height: 600px;
    width: 100% ;
    
}
#skill img {
    width: 12% ;
    margin: 10px;
}
#skill .card{
    background-color: black ;
    height: 370px;
    color: white;
}
#skill .card:hover {
    background-color: #0c6efd;
}
.skill-konten {
    margin-top: 100px;
}
.skill-img {
    width: 100% ;
}

/* End Skill */


.sci {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.sci li {
    list-style: none;
    margin: 4px;
}
.sci li a {
    width: 50px;
    height: 50px;
    display: flex;
    background: transparent;
    font-size: 2rem;
    color:rgb(3, 2, 15);
    text-decoration: none;
}

#aran .row > * {
    margin: 5px;
    
}
#aran .col > * {
    margin: 4px;
    
}